@mixin classColors($name, $color) {
  .bg-#{$name} {
    background: $color;
  }

  .text-#{$name} {
    color: $color;
  }
}

@mixin classDisplay($display) {
  .d-#{$display} {
    display: $display;
  }
}


@mixin mediaquery($max-value){

  @media screen and (max-width: $max-value) {
    @content
  }

}