
$colors: (
    mostaza: #c8a17f,
    vinotinto: #952327,
    gris: #d2d3d4,
    gris--claro: #f0f0f0,
    gris--oscuro: #7F7F7F,
    blanco: #FFFFFF,
    negro: black
  );

  $displays: inline-block, flex;
  